.configure {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr min-content;
    justify-items: center;
    gap: 20px;
}

.drag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.board-container {
    width: 100%;
    max-width: 600px;
    min-width: 250px;
}

.ships {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 400px;
}

.ship {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    font-family: Silkscreen;
    cursor: move;
}

.configure > .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.button-container > button {
    font-family: Silkscreen;
}

.ships-container {
    background-color: var(--cello);
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.ships-container > :last-child {
    font-family: Silkscreen;
    display: flex;
    align-items: center;
    gap: 6px;
}
